@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
body{
  font-family: 'Gilroy-Bold';
}
button {
    background: none;   /* Uklanja pozadinu */
    border: none;       /* Uklanja ivicu */
    padding: 0;         /* Uklanja padding (ako treba) */
    cursor: pointer;    /* Postavlja kursor na "pointer" */
    outline: none;      /* Sprečava plavi outline kada klikneš */
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .oo{
    display: none;
  }
  
  .logo{
    width: 100px;
  }